<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="useTestImage" value="true"/>
    <add key="firstCameraID"  value="UE500000033"/>
    <add key="secondCameraID" value="UE500000022"/>
    <add key="thirdCameraID"  value="UE500000034"/>
    <add key="fourthCameraID" value="UE500000031"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
