<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="useTestImage" value="true"/>
    <add key="firstCameraID" value="CD500002346"/>
    <add key="secondCameraID" value="CD500002342"/>
    <add key="TWAcqUI" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
